<div class="container-full">
<nav>
    <div class="nav-wrapper white black-text">
      <form action="/home/home" method="GET">
        <div class="input-field">
          <input id="keyword" type="search" placeholder="Keyword" class="validate" name="keyword" required>
          <label for="keyword"><i class="material-icons black-text">search</i></label>
          <i class="material-icons black-text">close</i>
        </div>
      </form>
    </div>
  </nav>
</div>