 <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">WF Library</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login/login"><i class="material-icons right">account_circle</i>Sign in</a></li>
        <li><a href="/contactus/contactus">Contact us</a></li>
        <li><a href="/aboutus/aboutus">About us</a></li>
      </ul>
    </div>
  </nav>