 <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">WF Library</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#"><i class="material-icons right">account_circle</i>Sign in</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">About us</a></li>
      </ul>
    </div>
  </nav>